# Project in TNM098 VT 2018, VAST Challenge MC2 2015

This project will explore data containing phone calls between people in an amusement park. The questions that will be answered are:

1. Identify those IDs that stand out for their large volumes of communication. For each of these IDs
  1. Characterize the communication patterns you see.
  2. Based on these patterns, what do you hypothesize about these IDs?

Please limit your response to no more than 4 images and 300 words.

2. Describe up to 10 communications patterns in the data. Characterize who is communicating, with whom, when and where. If you have more than 10 patterns to report, please prioritize those patterns that are most likely to relate to the crime.

Please limit your response to no more than 10 images and 1000 words.

#### My approach:
To start solving the first problem, I would filter out all communication from the IDs with large volumes. From that I would try to visualize the following:
* With who are these persons are communicating with?
* From what places?
* Where is the recipient located?
* What time of the day?
* Do the recipients communicate with each other?
* And more possible properties of the communication data that are relevant

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pylab
#import plotly.plotly as py
import pandas as pd
data_Fri = pd.read_csv("data/comm-data-Fri.csv")

In [2]:
data_Fri.head()

            Timestamp     from       to        location
0  2014-6-06 08:03:19   439105  1053224     Kiddie Land
1  2014-6-06 08:03:19   439105  1696241     Kiddie Land
2  2014-6-06 08:03:19   439105   580064     Kiddie Land
3  2014-6-06 08:03:19   439105  1464748     Kiddie Land
4  2014-6-06 08:03:47  1836139  1593258  Entry Corridor

In [3]:
data_Fri.loc[0:1, ['to', 'location']]

        to     location
0  1053224  Kiddie Land
1  1696241  Kiddie Land